@import "../variables";

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  &__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 4px;
  }

  &__input {
    @include font-regular;
    font-size: 14px;
    padding: 10px 12px;
    border: 1px solid $form-background;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.5);
    background: $form-background;
    transition: all 0.2s;
    width: 100%;

    &:hover {
      border: 1px solid $accent-color;
      background: $form-background;
    }

    &:focus {
        outline: none;
        border-color: $accent-color;
        box-shadow: 0 0 5px rgba($accent-color, 0.4);
    }

    &::placeholder {
      color: #999;
    }

    &.error {
      border-color: $error-color;

      &:focus {
        border-color: $error-color;
      }
    }
  }

  &__error-text {
    @include font-regular;
    font-size: 14px;
    color: $error-color;
    margin-top: 4px;
    margin-left: 4px;
    animation: fadeIn 0.2s ease;
  }
}

.group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  @include font-regular;
  font-size: 14px;
  cursor: pointer;
  width: 100%;

  &__name {
    background: #F5F5F5;
    width: 100%;
    padding: 10px 12px;
    border-radius: 6px;
    transition: background-color 0.2s;

    &:hover {
      border: 1px solid $accent-color;
      background: $form-background;
    }
  }

  &__delete {
    @include icon-button("../assets/icon/delete-icon.svg", "../assets/icon/delete-icon-hover.svg");
    width: 38px;
    height: 38px;
    flex-shrink: 0;
  }
}

.group-empty {
  @include font-regular;
  text-align: center;
  padding: 20px 0;
  color: #999;
  width: 100%;
}

.new-group-input {
  flex: 1;
  @include font-regular;
  font-size: 14px;
  padding: 10px 12px;
  border: 1px solid #E5E7EB;
  border-radius: 6px;
  background: #F5F5F5;
  width: 100%;

  &:focus {
    outline: none;
    border-color: $accent-color;
    background: $form-background;
    box-shadow: 0 0 5px rgba($accent-color, 0.4);
  }

}

.new-group-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.new-group__delete-btn {
  @include icon-button("../assets/icon/delete-icon.svg", "../assets/icon/delete-icon-hover.svg");
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}

.edit-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 8px 0;

  &__save-btn {
    align-self: flex-end;
  }
}